@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Alegreya', serif;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: var(--fonte1);
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header > h1 {
    padding-top: 60px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    /* font-size: 10vw = 10% do viewport width*/
}

header > p {
    padding-bottom: 70px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 8vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.376);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 15px 10px 15px 10px;
    background-color: rgba(0, 0, 0, 0.677);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

section.normal > p {
    padding-left: 10px;
}




footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}